body{
    background-color: #f1f1f1 ;
}
.btnde{
    margin: 25px 15px;
}
.bdelete{
    background-color: #F28484 ;
    border-color: #F28484 !important;
    cursor: pointer ;
    margin-right: 30px; 
}

.bdelete:hover{
    background-color: red !important;
    border-color: red !important;
}
footer{
    height: 30px;
    margin: 0;
    padding: 0;
}
footer p{
    margin: 0;
    padding: 0;
}
.confmes1{
    background-color: #8DF5CE;
    border-radius: 4px;
}

.cont_img{
    width: 250px;
    overflow-x: hidden;
    height: 250px;
    overflow-y: hidden;
}

.center_a{
   text-decoration: none;
}
.center_a:hover{
   text-decoration: none;
}

.mar_ce_a{
    margin-bottom: 20px;
}
.mar_ce_br{
    margin: 20px 0px;
}
h2{
    margin-bottom: 70px;
}
