{% extends 'base.html' %} 
{% block content %}

<h2>{{ page_title }}</h2>


{% for ct in cookingtools %}
<div class="row featurette">
    
    
    
    <div class="col-md-7">
        <h3><a href="/cooking_tools/{{ ct.tool }} " class="center_a"> {{ ct.name }} </a></h3>
        <p>
            {{ ct.description}}
        </p>
    </div>
    <div class="col-md-5">
        <a href="/cooking_tools/{{ ct.tool }} ">
            <img class="featurette-image img-responsive cont_img" src="{{ ct.image_source}}"  alt="Generic placeholder image">
        </a>
    </div>
  
   
    
    
</div>

{% if loop.index != loop.length %}

<hr class="featurette-divider mar_ce_br">
{% endif %}

{% endfor %}


{% endblock %}

<!--comentarios NO se puede comentar expresiones xq da error-->