{% extends 'base.html' %} 
{% block content %}

<h2>{{ page_title }}</h2>


{% for member in cookingtools %}
<div class="row featurette">
    
    {% if loop.index % 2 != 0 %}
    
    <div class="col-md-7">
        <h3><a href="/cookingtools/{{ member.url }}">{{ loop.index}}. {{ member.name }} </a></h3>
        <p>
            {{ member.description}}
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ member.image_source}}" style="width:100%;" alt="Generic placeholder image">
    </div>
    
    {% else %}
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ member.image_source}}" style="width:100%;" alt="Generic placeholder image">
    </div>
    
    <div class="col-md-7">
        <h3><a href="/about2/{{ member.url }}">{{ loop.index}}. {{ member.name }} </a></h3>
        <p>
            {{ member.description}}
        </p>
    </div>
    
    {% endif %}
    
</div>

{% if loop.index != loop.length %}

<hr class="featurette-divider">
{% endif %}

{% endfor %}


{% endblock %}

<!--comentarios NO se puede comentar expresiones xq da error-->