{% extends 'base.html' %}
{% block content%}


<h2>{{ page_title }}</h2>


{% for recipe in recipes %}
<div class="row featurette">

    <div class="col-md-12 mar_ce_a">
        <h3>
            <a href="/recipe/{{recipe._id}}" class="center_a">
                {{ recipe.name.upper() }}
            </a>
        </h3>

    </div>

    <div class="col-md-7 mar_ce_a">
        <p>
            {{ recipe.description }}
        </p>
    </div>

    <div class="col-md-5">
        <a href="/recipe/{{recipe._id}}" class="center_a">
            <img class="featurette-image img-responsive cont_img" src="{{ recipe.image}}" alt="Generic placeholder image">
        </a>
    </div>



</div>

{% if loop.index != loop.length %}

<hr class="featurette-divider mar_ce_br">
{% endif %}


{% endfor %}



{% endblock %}