{% extends 'base.html' %}
{% block content%}
<h2>{{ page_title }}</h2>
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        
      {% for recipe in recipes %}
       <div class="row featurette">
    
          <div class="col-md-7">
             <h3><a href="">{{ recipe.category_name }} </a></h3>
             <h3><a href="">{{ recipe.name }} </a></h3>
             <p>
              {{ recipe.ingredient}}
             </p>
             <p>
              {{ recipe.description}}
             </p>
             <img class="featurette-image img-responsive" src="{{ recipe.image}}" style="width:100%;" alt="Generic placeholder image">
         </div>
         <div class="col-lg-8 col-md-10 mx-auto" >
     
             
         </div>
       </div>
       
      <div class="btnde">
       <span class="bdelete" onclick="confirmedDelete('{{url_for('delete_recipe', recipe_id=recipe._id)}}')" >Delete</span>
      
       
       <a class="bedit" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" >Edit</a>
       </div>
       <hr class="featurette-divider">
       
    
    
     {% endfor %} 
       
    </div>
</div>     
{% endblock %}
