{% extends 'base.html' %}
{% block content%}

    <h2>{{ page_title }}</h2>
    
   

  
      {% for recipe in recipes %}
       <div class="row featurette">
    
          
             <div class="col-md-7">
                   <h3>
                        {{ recipe.name.upper() }} 
                   </h3>
                   <h4>Ingredients</h4>
                   <p>
                     {{ recipe.ingredient}}
                   </p>
             </div>
              <div class="col-md-5">
                  <img class="featurette-image img-responsive" src="{{ recipe.image}}" style="width:100%;" alt="Generic placeholder image">
             </div>
            
             <div class="col-md-12">
                 <h4>Description</h4>
                 <p>
                    {{ recipe.description}}
                 </p>
             </div>
       
           <div class="btnde">
              <span class="bdelete" onclick="confirmedDelete('{{url_for('delete_recipe', recipe_id=recipe._id)}}')" >Delete</span>
          
           
              <a class="bedit" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" >Edit</a>
           </div>
     </div>  
      {% if loop.index != loop.length %}

           <hr class="featurette-divider">
      {% endif %}
    
     {% endfor %} 
       
   
    
    
{% endblock %}